DATABASE_URL="postgresql://postgres:xNoaqhItFg9h3YOC@db.ahrnrsofcehbivmizbax.supabase.co:5432/postgres"
NEXTAUTH_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFocm5yc29mY2VoYml2bWl6YmF4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDEwNDcyMSwiZXhwIjoyMDY1NjgwNzIxfQ.O4CnAQW1XBwIcYcHMwOTuk3xNohzRuO2l0plTzynQDw"
